@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

body {
    font-family: 'Merienda One', cursive;
}

.flashcard {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  }
  
.flashcard.visible {
    opacity: 1;
    transform: translate(0, 0);
  }